In [29]:
import pandas as pd

In [30]:
dataz  = pd.read_csv('placementdata_analysis/Social_Network_Ads.csv')
datazi = dataz.drop(['Gender', 'User ID'], axis= 1)
datazi.sample(5)

     Age  EstimatedSalary  Purchased
267   37            74000          0
350   38           113000          1
279   50            36000          1
209   46            22000          0
249   35            97000          1

In [31]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(datazi.drop('Purchased', axis= 1), datazi['Purchased'], test_size= 0.3, random_state=0)

In [36]:
from sklearn.preprocessing import StandardScaler
scalee = StandardScaler()
scalee.fit(X_train)
X_train_scaled = pd.DataFrame(scalee.transform(X_train), columns = X_train.columns) #converts it into numpy
X_test_scaled = pd.DataFrame(scalee.transform(X_test), columns= X_test.columns)

array([3.78642857e+01, 6.98071429e+04])